.pio/
Log/
Temp/
Alt/
Temp/
Tests/
zip/
Lokomotive_Rocksy.z21loco.zip
MirZ21 - Kopie.zip
Create_Z21/Data/LocoData*.csv
privat/
src/Z21_to_Mae.ino.cpp
src/*.xlsx
src/Create_Font_h_File/Font_Pic/
src/Display Pic/
Tools/*.hex
Tools/*.txt
Data/LocoData.csv
Create_Z21/~$*.xlsm
Create_Z21/Temp/
Create_Z21/Zip/
Create_Z21/Pic/*.*
Create_Z21/Pic/CS3
Create_Z21/Pic/Juergen/
Create_Z21/Pic/Lok_Icons_Mae/
Create_Z21/Pic/Lok_Icons_Z21/
PCB/Old/
PCB/*.lbr
PCB/*.pro
PCB/*.s#?
PCB/*.b#?
PCB/*.b#?
PCB/*.l#?
PCB/*.scr
PCB/PCB_Entwurf.txt
PCB/Berechnung Spannungsteiler Taster.xlsx
PCB/*.lck
